---
import GradientText from "../components/GradientText.astro";
import Post from "../components/Post.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
	(a, b) =>
		new Date(b.frontmatter.pubDate).valueOf() -
		new Date(a.frontmatter.pubDate).valueOf()
);
---

<BaseLayout class="flex flex-col items-center space-y-12 md:space-y-24 pb-4">
	<h1
		class="text-6xl md:text-9xl text-gray-50 font-open-sans font-bold text-center leading-tight"
	>
		This is my <GradientText element="span" text="Blog" />
	</h1>
	<div class="grid grid-cols-1 gap-y-6 w-full text-gray-50">
		{
			posts.map((post) => (
				<Post
					title={post.frontmatter.title}
					description={post.frontmatter.description}
					date={post.frontmatter.pubDate}
					featuredImage={post.frontmatter.heroImage}
					href={post.url}
				/>
			))
		}
	</div>
</BaseLayout>
