---
import { getCollection } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Post from "../components/Post.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import Main from "../layouts/Main.astro";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = await getCollection("blog");
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<Main class="space-y-4 xl:space-y-8">
		<h1 class="text-xl font-semibold">{">"} All Blog Entries</h1>
		{
			posts
				.sort(
					(a, b) =>
						new Date(b.data.pubDate).valueOf() -
						new Date(a.data.pubDate).valueOf()
				)
				.map((post) => (
					<Post
						url={`blog/${post.slug}`}
						title={post.data.title}
						date={post.data.pubDate}
						description={post.data.description}
					/>
				))
		}
	</Main>
</html>
