---
import BaseHead from "../components/BaseHead.astro";
import Post from "../components/Post.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import Main from "../layouts/Main.astro";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
	(a, b) =>
		new Date(b.frontmatter.pubDate).valueOf() -
		new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<Main class="space-y-4 xl:space-y-8">
		<h1 class="text-xl font-semibold">{">"} All Blog Entries</h1>
		{
			posts.map((post) => (
				<Post
					url={post.url}
					title={post.frontmatter.title}
					date={post.frontmatter.pubDate}
					description={post.frontmatter.description}
				/>
			))
		}
	</Main>
</html>
